configuration {
  modi: "drun,window,windowcd,keys,filebrowser,run,combi";

  font: "Iosevka Nerd Font 14";
  drun-display-format: " {name} ";
  sidebar-mode: true;
  matching: "fuzzy";
  scroll-method: 0;
  disable-history: false;
  show-icons:  true;
  icon-theme: "Papirus";

  display-drun: "  Menu";
  display-run: "  Run";
  display-window: "   Window";
  display-windowcd: "   Window+";
  display-keys: "   Keys";
  display-filebrowser: "  Browse";
  display-combi: "   Binds";

  window-thumbnail: true;
  sort: true;
  sorting-method: "normal";

  timeout {
    action: "kb-cancel";
    delay: 30;
  }

  filebrowser {
    directories-first: true;
    sorting-method: "name";
  }
}

@import "~/.config/rofi/colorized/colors.rasi"

/*
* {
  bg: #1f222d;
  fg: #81a1c1;
  button: #81a1c1;
  background-color: @bg;
  text-color: @fg;
}
*/

element-text,
element-icon,
mode-switcher {
  background-color: inherit;
  text-color: inherit;
}

window {
  transparency: "real";
  width: 60%;
  border: 10px;
  border-radius: 15px;
  border-color: @bg;
  height: 70%;
}

prompt {
  enabled: true;
  background-color: @bg;
  padding: 20px 15px 5px 15px;
  text-color: @fg;
  border-radius: 50%;
  expand: true;
  font: "Iosevka Nerd Font 14";
}

textbox-prompt-colon {
  expand: false;
  padding: 1% 2% 0% 2%;
  margin: 0% 1% 0% 1%;
  font: "Iosevka Nerd Font 30";
  border-radius: 50%;
  str: " ";
}

entry {
  placeholder: "Search";
  placeholder-color: #81a1c1;
  text-color: #81a1c1;
  expand: true;
  padding: 2.0%;
  border-radius: 50%;
}

inputbar {
  children: [prompt,textbox-prompt-colon,entry];
  background-image: url("~/.config/rofi/themes/japan.jpg");
  expand: false;
  border-radius: 10px 10px 0 0px;
  font: "Dosis 14";
  margin: 0 0 20px 0;
  padding: 200px 20px 20px 20px;
}

listview {
  columns: 3;
  lines: 2;
  cycle: false;
  dynamic: true;
  layout: vertical;
  padding: 0 15px 0 15px;
  scrollbar: false;
}

mainbox {
  children: [inputbar,listview,mode-switcher];
}

element {
  orientation: vertical;
  padding: 5% 2% 2% 0;
  font: "Dosis 14";
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: #3b4252;
}

element-text {
  expand: true;
  vertical-align: 0.5;
  margin: 0% 1% 0% 1%;
  font: "Dosis 14";
  background-color: inherit;
  text-color: inherit;
}

element selected {
  background-color: @button;
  font: "Dosis 14";
  text-color: #2e3440;
  border-radius: 10px;
}

mode-switcher {
  spacing: 0;
  border-radius: 10px;
  margin: 0 20px 20px 20px;
}

button {
  padding: 15px;
  margin: 0;
  font: "Dosis,Iosevka Nerd Font 14";
  background-color: #88C0D0;
  text-color: #3b4252;
  vertical-align: 0.5;
  horizontal-align: 0.5;
}

button selected {
  padding: 15px;
  margin: 0;
  background-color: #3b4252;
  text-color: #81a1c1;

  // border: 0 0 5px 0;
  // border-color: #88C0D0;
}

/*
  vim: ft=rasi
*/